$solitaire-red: #874444;
$solitaire-dark-blue: #576472;
$solitaire-blue: #48697c;
$solitaire-light-blue: rgb(94, 131, 155);
$solitaire-very-light-blue: #7b9caf;
$solitaire-light-white: rgba(238, 238, 238, 0.4);
$solitaire-pink: #ff4848;
$solitaire-purple: #480032;
$solitaire-yellow: #fdca40;
$solitaire-blur-gray: rgba(238, 238, 238, 0.8);
$white: white;
$light-gray: #ccc;